header {position:fixed; z-index:1; top:0; bottom:0; width:180px; height:100vh; min-height:960px; background:#151515;}
header .logo {display:inline-block; position:relative; z-index:100;	}
header .logo a {display:block;}
header .logo a img {width: 100%;}
body {overflow-y:scroll !important; font-family:"Noto_M";}
body.if_board{overflow-y:hidden !important; margin-top: 10px}
::-webkit-scrollbar { width: 0px; height: 0px; background: transparent;}
.SECTION_FULL_PAGE01 .fp-tableCell {overflow-y:scroll}
html{
	background:#eeeeee;
}

/* 메뉴 설정 */
nav {margin-top:100px;}
nav > div > ul > li {display:inline-block; width:100%; line-height:20px; letter-spacing:-0.1em;}
nav > div > ul > li > a {display:block; margin:10px 30px; font-size:1.21em; cursor:pointer; color:#fff !important;}
nav > div > ul > li > ul {display:none; width:100%; padding:14px 0; background:#f3f3f3;}
nav > div > ul > li > ul > li {font-size:1em; color:#333;}
nav > div > ul > li > ul > li > a {display:block; margin-bottom:10px; padding-left:30px; line-height:14px; cursor:pointer;}
nav > div > ul > li > ul > li > a:hover {background-color: #fff;} /* 하위메뉴 호버 시 변화*/
nav > div > ul > li > ul > li:last-child > a {margin-bottom:0;}
nav > div > ul > li.btn_newsletter {font-size:1.21em; background:#5e1012;}
nav > div > ul > li.btn_newsletter a {display:block; color:#fff; cursor:pointer;} 

.container {overflow:hidden; position:relative; min-width:1200px; padding-left:180px;} /* 본문 컨테이너 설정 */

.fullpage {z-index:2;} /* 본문 z-index설정 */

.member_modal {display:block; width:350px; margin:0 auto;}
.member_modal .info_txt {display:table; width:300px; height:80px; padding:0 30px; margin:15px auto 0; border:1px solid #e5e5e5; letter-spacing:-0.08em; background:#fff;}
.member_modal .info_txt p {display:table-cell; vertical-align:middle; text-align:center;}
.member_modal .info_txt p span {display:inline-block; color:#000; font-family:"Noto_M";}
.member_modal form {width:350px;}
.member_modal form input[type="text"],
.member_modal form input[type="password"] {width:290px; height:40px; margin-bottom:5px; border:0; background:#f6f6f6;}

/* footer 설정 */
.footer {position:absolute; bottom:20px; width:100%;}
.footer ul > li {padding:15px 31px; font-size:0.86em;}
.footer ul > li span {display:block; font-size:1.14em;}
.footer ul > li a {color:#999; letter-spacing:0;}
.nav_clo {display:none;}

/* 태그 감추기, 보이기 기능(class로 선언) */
.show {display:block;}
.hide {display:none;}

.submenu {height:100% !important; float:left; width:40%; }
.mainmenu {float:left; width:60% !important;}
.mainmenu_no_sub {float:left; width:100% !important;}
.content {display: inline-block;width: calc(100% - 40px);margin: 20px;padding: 10px;background-color: #fff; min-height: calc(100vh - 90px);}


.SECTION_FULL_PAGE01 .slide_con {position:relative; width:100%;}
.SECTION_FULL_PAGE01 .slide_con .box_txt {position:absolute; top:50%; left:50%; margin-left:-170px; margin-top:-65px; width:340px; height:130px; text-align:center; letter-spacing:-0.08em; word-spacing:-3px;}
.SECTION_FULL_PAGE01 .slide_con .box_txt p {font-family:"Noto_M"; font-size:1.5em; color:#fff;}
.SECTION_FULL_PAGE01 .slide_con .box_txt span {font-family:"Noto_B"; font-size:3.85em; color:#fff;}
.SECTION_FULL_PAGE01 .slide_con .box_thm .box_thm01 {width:100%; height:100vh; background:url("http://img.designsoft.co.kr/WisdomForest/Main/main_slider_01.jpg") center; background-repeat:no-repeat; background-size:cover;}
.SECTION_FULL_PAGE01 .slide_con .box_thm .box_thm02 {width:100%; height:100vh; background:url("http://img.designsoft.co.kr/WisdomForest/Main/main_slider_02.jpg") center; background-repeat:no-repeat; background-size:cover;}
.SECTION_FULL_PAGE01 .slide_con .box_thm .box_thm03 {width:100%; height:100vh; background:url("http://img.designsoft.co.kr/WisdomForest/Main/main_slider_03.jpg") center; background-repeat:no-repeat; background-size:cover;}


.ui-widget.ui-widget-content {border:none; border-radius:0; background:#fff;}
.ui-draggable .ui-dialog-titlebar {border: none; border-radius: 0;}
#alertBox .ui-dialog .ui-dialog-buttonpane { display: block;}
.ui-dialog .ui-dialog-titlebar-close {/*타이틀바 오른쪽 종료버튼*/}
.top_bar {margin: 0;padding: 0;list-style: none;background: #fff;width: 100%;height: 50px;}
.top_bar  ul > li {display: inline-block;float:right;margin: 10px 20px 10px 20px;}

/*	start 채팅 css 작업	*/
#nowChat {border-bottom: 1px solid #ccc; font-family: Noto_M;}
#chat_dialog {z-index:999; padding: 0;}
#chat_dialog > #websocketChat {/* border:5px solid grey; */margin:0 auto;background: #fff;padding:10px;height:  100%;}
#chat_dialog > #websocketChat > #chatview {width: 70%;overflow-y: scroll;height: calc(100% - 30px);}
#chat_dialog > #websocketChat > #userview {float:left;width: 30%;overflow-y:  scroll;height: calc(100% - 30px); font-family:"Noto_M";  border: 1px solid #ccc; border-radius: 8px;}
#chat_dialog > #websocketChat > #inputview {height: 30px;}
#chat_dialog > #websocketChat > #chatview > #chatLog{padding:5px; font-family:"Noto_M";}  
#chat_dialog > #websocketChat > #chatview > #chatLog p {word-wrap:  break-word;text-align: left; font-family:"Noto_M";}
#btn-open-chat {background-image: url("../resource/img/icon_chat.png");background-repeat:  round;display: inline-block;width: 50px;height: 50px; position:  fixed;bottom: 0;right: 0;}
#chat_dialog>#websocketChat input[type="button"]{padding: 5px; width:60px;border-radius: 3px;	border: 1px solid #ccc; font-family:"Noto_M"; height: 30px; line-height: 1px;}
#chat_dialog>#websocketChat input:focus {	border: 1px solid #fafafa;	box-shadow: 0px 0px 5px #007eff; font-family:"Noto_M";}
#chat_dialog>#websocketChat input#textMessage{display:inline-block; width:calc(100% - 130px); font-family:"Noto_M"; border-radius: 8px; }
#chat_dialog>#websocketChat .username {width:min-content; font-family:"Noto_M";}
#chat_dialog>#websocketChat .username.right{	margin: 5px 15px 5px auto; font-family:"Noto_M";}
#chat_dialog>#websocketChat .username.left{	margin: 5px auto 5px 15px; font-family:"Noto_M";}
#chat_dialog>#websocketChat .bubble {
	background-color: black;
	color: white;
	border-radius: 5px;
	max-width:  350px;
	border: 1px solid #bbb;
	display: block;
	padding: 10px 18px;
	margin: 1em 18px 1em auto;
	position: relative;
	right: 0;
	width: min-content;
	vertical-align: top;
	}
#chat_dialog>#websocketChat .tail {	position: absolute;	height: 18px;	width: 18px;	overflow: hidden; font-family:"Noto_M";}
#chat_dialog>#websocketChat .tail:before {	border: 1px solid #bbb;	background-color: black; content: "\00a0";	display: block;	position: absolute;	top: 0px;	height: 12px;	width: 12px;}
#chat_dialog>#websocketChat .bubble.left {	text-align: left;	margin: 1em auto 1em 18px;}
#chat_dialog>#websocketChat .bubble.left .tail {	top: 12px;	left: -18px;}
#chat_dialog>#websocketChat .bubble.left .tail:before {	left: 12px;	-webkit-transform: skewX(-45deg);	-moz-transform: skewX(-45deg);	-o-transform: skewX(-45deg);}
#chat_dialog>#websocketChat .bubble.right {text-align: right;}
#chat_dialog>#websocketChat .bubble.right .tail {	top: 12px;	right: -18px;}
#chat_dialog>#websocketChat .bubble.right .tail:before {	right: 12px;	-webkit-transform: skewX(45deg);	-moz-transform: skewX(45deg);	-o-transform: skewX(45deg);}

/*	end 채팅 css 작업	*/

/* 반응형 디자인 설정 */
@media (max-width:1023px){
	header {width:128px;}
	header .logo a {width:100%;}
	nav {font-size:1em;}
	nav > div > ul > li {margin:0;}
	nav > div > ul > li > a {margin:10px 20px; letter-spacing:-0.08em; font-size:1em;}
	nav > div > ul > li.btn_newsletter {font-size:0.93em;}
	
	.container {min-width:100%; padding-left:128px;}
	
	.footer ul li {padding:10px 20px; word-wrap:break-word;}
	
	.mainmenu {width:100% !important;}
	
	.SECTION_FULL_PAGE01 .fp-slides {height:240px !important;}
	.SECTION_FULL_PAGE01 .fp-tableCell {height:720px !important;}
	.SECTION_FULL_PAGE01 .fp-controlArrow.fp-prev {left:20px !important;}
	.SECTION_FULL_PAGE01 .fp-slidesNav {bottom:10px !important;}
	.SECTION_FULL_PAGE01 .arrow_wrap {margin:10px auto 0 !important;}
	.SECTION_FULL_PAGE01 .fp-controlArrow.fp-prev {width:40px !important; height:40px !important; background-size:40px 40px !important;} 
	.SECTION_FULL_PAGE01 .fp-controlArrow.fp-next {width:40px !important; height:40px !important; background-size:40px 40px !important;}
	.SECTION_FULL_PAGE01 .submenu {float:none; width:100%;}
	.SECTION_FULL_PAGE01 .slide_con .box_thm {height:240px;}
	.SECTION_FULL_PAGE01 .slide_con .box_thm .box_thm01,
	.SECTION_FULL_PAGE01 .slide_con .box_thm .box_thm02,
	.SECTION_FULL_PAGE01 .slide_con .box_thm .box_thm03 {height:240px !important; min-height:inherit;}
	.SECTION_FULL_PAGE01 .slide_con .box_txt {margin-top:-40px;}
	.SECTION_FULL_PAGE01 .slide_con .box_txt p {font-size:1.29em;}
	.SECTION_FULL_PAGE01 .slide_con .box_txt span {font-size:3.42em; line-height:48px;}
}

@media (min-width:768px){
	.mb_nav {display:none;}
	.mb_nav_clo {display:none;}
	.mb_wrap {display:block !important;}
	.wrapper_shadow {display:none !important}
}

@media (max-width:767px){
	header {z-index:10; width:100%; height:67px; min-height:67px; background:#262626; border-bottom:1px solid #1f1f1f;}
	header .logo {width:100%; margin-left:0;}
	header .logo a {width:62px; margin:0 auto;}
	nav {position:relative; top:30px !important; margin-top:0; border-top:1px solid #484848;}
	nav > div > ul {margin:7px 0;}
	nav > div > ul > li {margin:0; text-align:center;}
	nav > div > ul > li > a {margin:0; padding:13px 45px; font-size:1.14em;}
	nav > div > ul > li > ul {background:#686868;}
	nav > div > ul > li > ul > li {font-size:0.93em; color:#eee;}
	nav > div > ul > li > ul > li > a {padding-left:0px;}
	nav > div > ul > li > ul > li > a:hover {background-position:left 45px center;}
	nav > div > ul > li.btn_newsletter a {text-align:center;} 
	nav > div > ul > li > ul > li > a {display:block; margin-bottom:10px; padding-left:0px; line-height:14px; cursor:pointer;}
	.container {padding-left:0;}
	
	.footer {position:relative; top:30px; bottom:inherit; background:#262626; padding-bottom:20px;}
	.footer ul li {text-align:center;}
	.footer ul > li span {display:inline-block; padding-left:5px; font-size:1em; letter-spacing:-0.08em;}
	.footer ul > li a {letter-spacing:0;}

	.mb_wrap {display:none; position:absolute; z-index:20; top:67px; width:100%; background:#262626;}
	.mb_nav {position:absolute; top:20px; left:20px; z-index:100; width:27px; height:27px;}
	.mb_nav_clo {position:absolute; z-index:110; top:24px; right:20px;}
	
	.submenu {min-width:100%;}
	.mainmenu {width:100% !important;}
	.fp-slidesNav {left:50% !important;}
	.slide_con .box_txt p {font-size:1.14em;}
	.slide_con .box_txt span {font-size:2.57em;}
	.slide_con .box_txt {width:204px; margin-left:-102px;}
	.SECTION_FULL_PAGE01 .arrow_wrap {top:52% !important;}
	.SECTION_FULL_PAGE01 .fp-controlArrow.fp-prev {left:20px !important; width:30px !important; height:30px !important; background-size:30px 30px !important;}
	.SECTION_FULL_PAGE01 .fp-controlArrow.fp-next {right:20px !important; width:30px !important; height:30px !important; background-size:30px 30px !important;}
	.content{width: 100%; margin: 0px;}
}