@charset "UTF-8";

.abc{width: 1px; height: 1px;}
.seatLayout{    margin: 30px; height: 450px;width: 700px; border: 2px solid #666; padding: 0 20px 0 30px}
.seatlegend{text-align: right; font-size: 1.4em; font-family:"Noto_M";}
.seatLayout > ul {    clear:both;}
.seatLayout > ul > li {    float:left;    width: 70px;}

.member_content {    width:100%;    margin: 0 auto;	}
.member_content .btn {    color: #fff;    background-color: #8e8e8e;    border:none;    outline:none;    width: calc(50% - 1.4px);    font-size: 1.6em;	cursor:pointer;	}
.loginmodal {	width:100%;	}

.search_bx {position:absolute; top:65px; right:0; /*z-index:1;*/ border:1px solid #666; }
.search_bx select {float:left; width:100px; height:34px; margin-right:5px; border:0; background:#f0f0f0; color:#999; font-family:"Noto_M";}
.search_bx input.inp_search {float:left; width:340px; height:34px; border:0;}
.search_bx input.btn_search {float:left; width:35px; height:34px; border:0; text-indent:-999em; background:#fff url("../resource/img/btn_search.png"); background-repeat:no-repeat; background-position:center; }


/* 기존 board Start*/
.board {position:relative;              margin-top: 100px; padding: 0 30px;}
.board .search_bx { top: -30px; margin-right: 30px;}
.view_cnt {position:relative; top:-5px; font-size:0.86em; font-family:"Noto_M"; color:#666; }
.brd_txt_lst {overflow:hidden;position:relative;margin-bottom:30px;border-top:2px solid #464646;/* border-bottom:1px solid #464646; */}
.brd_txt_lst li {float:left;}
.brd_txt_lst > li {width:100%;}
.col_nm {border-bottom:2px solid #464646;}
.brd_txt_lst li .con_lst > ul > li {display:block; height:48px; line-height:48px; text-align:center;}
.brd_txt_lst li .con_lst > ul > li.col_type {width:15%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_title {width:50%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_title img {padding:13px 0 0 5px;}
.brd_txt_lst li .con_lst > ul > li.col_date {width:20%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_date .tit_date {display:none;}
.brd_txt_lst li .con_lst > ul > li.col_rc {width:10%; padding:0 20px;}

.brd_txt_lst li .con_lst > ul > li.col_typeNo {width:15%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_titleNo{width:50%; padding:0 20px;}

.view_lst .con_lst > ul {overflow:hidden; background:url("../resource/img/ico_lst_down.png") right 20px center; background-repeat:no-repeat; cursor:pointer; border-bottom:1px solid #e4e4e4;}
.view_lst .con_lst > ul.no_scroll{background: none;} /* 화살표 없는 리스트UL */
.view_lst .con_lst > ul.title_t{background-color: #464646; color:white;} /* title css */
.view_lst .con_lst > ul > li.col_tit {text-align:left;}
.view_lst .con_lst .con_detail {display:none; width:100%; height:100%; padding:20px; background:#f5f5f5;}
.view_lst .con_lst .con_detail p {display:block; padding-bottom:20px;}
.view_lst .con_lst .con_detail .file {display:table; width:100%; padding-top:20px; border-top:1px solid #ccc;}
.view_lst .con_lst .con_detail .file span {display:table-cell; vertical-align:middle; width:10%;}
.view_lst .con_lst .con_detail .file ul {overflow:hidden; width:90%; margin-left:-4px;}
.view_lst .con_lst .con_detail .file ul li {float:left; width:auto; padding:0 5px;}

.write_form {margin:40px 20px;}
.write_form form {margin-bottom:50px;}
.write_form .row {overflow:hidden; border-top:2px solid #464646; }
.write_form .row li.half {float:left; width:50%;}
.write_form .row_sub {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
.write_form .row_sub > li {display:table-cell;vertical-align:middle;padding:10px;width: 100%;}
.write_form .row_sub > li.title {width: 120px;min-width: 120px;height:50px;padding:15px 20px;background:#f6f6f6;font-family:"Noto_M";letter-spacing:-0.08em;}
.write_form .row_sub > li input[type="text"] {float:left; width:200px; height:30px; background:#f6f6f6; border:0;}
.write_form .row_sub > li input[type="button"] {float:left; width:110px; height:30px; margin-left:10px; line-height:30px; text-align:center; background:#464646; color:#fff; border:0; letter-spacing:-0.08em;}
.write_form .row_sub > li textarea { float:left;width: 100%; resize: none; background:#f6f6f6; border:0;  font-family:"Noto_M";}
.write_form .row_sub > li p {float:left; margin-left:10px; color:#999; letter-spacing:-0.08em; line-height:30px;}
.write_form .row_sub > li.inp_form span {margin-right:30px; line-height:30px; text-align:center;}

.file_input_textbox{ float: left}
.file_input_div{ position: relative;  width: 120px;  height: 30px;  overflow: hidden;	}
.file_input_button{ position: absolute;	}
.file_input_hidden{ font-size: 45px;  position: absolute;  right: 0px;  top: 0px;  opacity: 0;  
 filter: alpha(opacity=0);  -ms-filter: "alpha(opacity=0)";  -khtml-opacity: 0;  -moz-opacity: 0; cursor: pointer;	}

ul.tabs {	margin: 0;	padding: 0;	float: left;	list-style: none;	height: 32px;	border-bottom: 1px solid #eee;	border-left: 1px solid #eee;	width: 100%;	font-family: "dotum";	font-size: 12px;}
ul.tabs li {	float: left;	text-align: center;	cursor: pointer;	width: 82px;	height: 31px;	line-height: 31px;	border: 1px solid #eee;	border-left: none;
	font-weight: bold;	background: #fafafa;	overflow: hidden;	position: relative;}
ul.tabs li.active {	background: #FFFFFF;	border-bottom: 1px solid #FFFFFF;}
.tab_container {border-top: none;clear: both;float: left;	width: 100%;	height:800px;}
.tab_container iframe {width: 100%;height: 100%;border: none;}

/* end 게시판 부분 */






.btn_type6 {top: 90px; width: 60px; height: 25px; line-height: 25px; color: #fff !important; border: 0; text-align: center; background: #464646; font-size: 0.5em; margin-bottom: 3px;}
.btn_type5 {position:absolute; top:-25px; right:0; width:96px; height:34px; line-height:34px; color:#fff !important; border:0; text-align:center; background:#464646; color:#fff; cursor:pointer;}
.btn_type1 {position:absolute; right:0; width:96px; height:34px; line-height:34px; color:#fff !important; border:0; text-align:center; background:#464646; font-size:1.14em;}
.btn_type2 {position:absolute; right:0; bottom:0; width:96px; height:34px; line-height:34px; color:#fff !important; border:0; text-align:center; background:#71847a;}
.btn_type3 {position:absolute; top:30px; right:0; width:96px; height:34px; line-height:34px; color:#fff !important; border:0; text-align:center; background:#464646; color:#fff; cursor:pointer;}
.btn_type4 {display:block; width:96px; height:40px; line-height:40px; color:#fff !important; border:0; text-align:center; background:#464646; color:#fff; cursor:pointer;}
.btn_btm {position:relative; margin-bottom:150px;}
.btn_btm_center {position:relative; width:100%; margin-bottom:50px; margin-top:30px;}
.btn_btm_center ul {text-align:center;}
.btn_btm_center ul li {display:inline-block;}
.btn_btm_center ul li.btn_cancle {padding-right:6px;}
.btn_btm_modal { margin-bottom: 20px !important;}
.btn_btm_board {display:table;position:relative; margin: 5px -10px 0px 10px; width:100%; height:  40px;}
.btn_btm_board li {float:none !important;}
.btn_btm_board li.btn_con_left{display:table-cell; position:absolute; left:0px;}
.btn_btm_board li.btn_con_right{display: table; position:absolute; right:0px;}
.btn_btm_board ul input[type="button"] {float: left; margin-right:10px;}
.btn_btm_board ul input[type="button"]:nth-last-child(1) {float: left; margin-right:10px;}



.login {min-height:600px; margin-top:100px;}
.login .top_tit {position:relative; top:50px; text-align:center; letter-spacing:-0.05em;}
.login .top_tit h3 {margin-bottom:15px;}
.login .top_tit p {font-size:1.14em;}
.login article {margin:70px 0;}
.login_form{margin: 30px auto 0 auto ; width: 350px;}
.login_form form {margin-bottom:50px;}
.login_form .row {overflow:hidden; border-top:2px solid #464646;}
.login_form .row li.half {float:left; width:50%;}
.login_form .row_sub {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
.login_form .row_sub > li {display:table-cell; vertical-align:middle; padding:10px;}
.login_form .row_sub > li.title {width:150px; height:50px; padding:15px 20px; background:#f6f6f6; font-family:"Noto_M"; letter-spacing:-0.08em;}
.login_form .row_sub > li input[type="text"],
.login_form .row_sub > li input[type="password"] {float:left; width:200px; height:30px; background:#f6f6f6; border:0;}
.member {padding:0 20px !important;}
.member h3 {padding-left:0 !important;}
.member_form {display:block; width:522px; margin:0 auto;}
.member_form .info_txt {display:table; width:522px; height:86px; padding:0 50px; margin:15px auto 0; border:1px solid #e5e5e5; letter-spacing:-0.08em; background:#fff;}
.member_form .info_txt p {display:table-cell; vertical-align:middle; text-align:center;}
.member_form .info_txt p span {color:#000; font-family:"Noto_M";}
.member_form form {width:375px; margin:30px auto 0;}
.member_form form input[type="text"],
.member_form form input[type="password"] {width:260px; height:40px; margin-bottom:5px; border:0; background:#f6f6f6;} 
.join_form {margin:40px 20px;}
.join_form form {margin-bottom:50px;}
.join_form .row {overflow:hidden; border-top:2px solid #464646;}
.join_form .row li.half {float:left; width:50%;}
.join_form .row_sub {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
.join_form .row_sub > li {display:table-cell; vertical-align:middle; padding:10px;}
.join_form .row_sub > li.title {width:150px; height:50px; padding:15px 20px; background:#f6f6f6; font-family:"Noto_M"; letter-spacing:-0.08em;}
.join_form .row_sub > li input[type="text"],
.join_form .row_sub > li input[type="password"] {float:left; width:200px; height:30px; background:#f6f6f6; border:0;}
.join_form .row_sub > li input[type="checkbox"] {top:6px;}
.join_form .row_sub > li input[type="text"].mb_mail {width:145px;}
.join_form .row_sub > li input[type="button"] {float:left; width:110px; height:30px; margin-left:10px; line-height:30px; text-align:center; background:#464646; color:#fff; border:0; letter-spacing:-0.08em;}
.join_form .row_sub > li p {float:left; margin-left:10px; color:#999; letter-spacing:-0.08em; line-height:30px;}
.join_form .row_sub > li.inp_form span {margin-right:30px; line-height:30px; text-align:center;   display: inline-block;}








/*한진석 전체 css*/
/* main css */
.main_div{ overflow: hidden;background: #fff; display: inline-block; float: left;  width: 48%; height: 44vh;}
.main_conpop{ margin: 0 10px 10px 0;}
.main_concur{ margin: 0 0 10px 10px;}
.main_connot{ margin: 0 10px 10px 0;}
.main_concur ul li {height: 190px; padding: 20px; border-bottom: 1px solid #ebebeb;}
.main_concur ul li .main_box_img {float: left;display: inline-block; width: 108px; height: 140px; }
.main_concur ul li .main_box_img img{ width: 100%; height: 100%;}
.main_concur ul li .main_box_tit{ float: left ; display: inline-block; width: 50%; max-width: 326px; min-width: 100px; padding-left: 10px; font-family:"Noto_M";}
.main_concur ul li .main_box_tit .tit { font-size: 1.14em; line-height: 16px; padding-bottom: 10px; border-bottom: 1px solid #ebebeb; letter-spacing: -0.1em; font-family:"Noto_M";}
.main_concur ul li .main_box_tit .disc { overflow: hidden; display: block; height: 84px; margin-top: 8px; line-height: 14px; letter-spacing: -0.1em; font-family:"Noto_M";}
h2 { width: 100%; height: 50px; line-height: 50px; font-size: 1.36em; font-family: "Noto_B"; padding-left: 20px; background: #fff; border-bottom: 1px solid #ebebeb; letter-spacing: -0.05em;}

.main_connot {margin-bottom:0;}
.main_connot ul li {display:block; overflow:hidden; height:63px; padding-left:30px; border-bottom:1px solid #ebebeb; background:url("http://img.pajubookcity.org/WisdomForest/Common/bul_brd.gif") left 18px center; background-repeat:no-repeat;}
.main_connot ul li:last-child {border-bottom:0;}
.main_connot ul li a {line-height:63px;}
.main_connot ul li a p {display:inline-block; width:278px;}
.main_connot ul li a span {display:block; float:right; width:88px; padding-right:20px; text-align:right;}




/* board css start*/

	.search_bx {position:absolute; top:65px; right:0; /*z-index:1;*/ border:1px solid #666; }
	.search_bx select {float:left; width:100px; height:34px; margin-right:5px; border:0; background:#f0f0f0; color:#999; font-family:"Noto_M";}
	.search_bx input.inp_search {float:left; width:340px; height:34px; border:0;}
	.search_bx input.btn_search {float:left; width:35px; height:34px; border:0; text-indent:-999em; background:#fff url("../resource/img/btn_search.png"); background-repeat:no-repeat; background-position:center;}
	/* text css start*/
	
	
	
	/* text css start*/
	.board .intro{display: block; font-size: 2.5em;font-family: "Noto_B"; color: #5f7368; line-height: 70px;}
	.text_top{margin: 70px 30px 0 30px; }
	h3{display: block;  margin-bottom: 30px; font-size: 2.5em; font-family: "Noto_B";}
	h4{display: block;  margin-bottom: 30px; font-size: 2.0em; font-family: "Noto_B";}
	.paginate{line-height: 50px;text-align: center;	height:50px; vertical-align:middle;}
	.dl_box{margin: 30px 0;}
	.dl_box dl dt{color: #5e1012; font-family: "Noto_M"; font-size: 1.5em; margin: 3px 0;}
	.dl_box dl dd{font-size: 1.2em; margin: 3px 0;}
	
	.dl_boxg{margin: 30px 0;}
	.dl_boxg dl dt{color: #5e1012; font-family: "Noto_M"; font-size: 1.8em; margin: 3px 0;}
	.dl_boxg dl dd{font-size: 1.5em; margin: 3px 0;}
	.bold {color: #E88C74;}
	.top_bold{font-size: 1.2em; font-family: "Noto_M";}
	

	
/* board css end*/


/* admin facil start */
.write_form .row_subfacil2 > li {display:inline-flex;vertical-align:middle;padding:10px;width: 75%;}
.write_form .row_subfacil2 {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
.write_form .row_subfacil2 > li.title {width: 120px;min-width: 120px;height:50px;padding:15px 20px;background:#f6f6f6;font-family:"Noto_M";letter-spacing:-0.08em;}
.write_form .row_subfacil2 > li input[type="text"] {float:left; width:180px; height:30px; background:#f6f6f6; border:0;}
.write_form .row_subfacil2 > li input[type="button"] {float:left; width:110px; height:30px; margin-left:10px; line-height:30px; text-align:center; background:#464646; color:#fff; border:0; letter-spacing:-0.08em;}
.write_form .row_subfacil2 {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
.write_form .row_subfacil1 > li {display:inline-flex;vertical-align:middle;padding:10px;width: 75%;}
.write_form .row_subfacil1 {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
.write_form .row_subfacil1 > li.title {width: 120px;min-width: 120px;height:50px;padding:15px 20px;background:#f6f6f6;font-family:"Noto_M";letter-spacing:-0.08em;}
.write_form .row_subfacil1 > li input[type="text"] {float:left; width:180px; height:30px; background:#f6f6f6; border:0; margin-right: 10px;}
.write_form .row_subfacil1 > li input[type="button"] {float:left; width:110px; height:30px; margin-left:10px; line-height:30px; text-align:center; background:#464646; color:#fff; border:0; letter-spacing:-0.08em;}
.write_form .row_subfacil1 {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
.facil2_p {margin:0 10px; }
/* admin facil end */


		/* admin css*/
/* admin book */
.join_form .row_subIO {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
.join_form .row_subIO > li {display:table-cell; vertical-align:middle; padding:10px;}
.join_form .row_subIO > li.title {width:150px; height:50px; padding:15px 20px; background:#f6f6f6; font-family:"Noto_M"; letter-spacing:-0.08em;}
.join_form .row_subIO > li input[type="text"],
.join_form .row_subIO > li input[type="password"] {float:left; width:200px; height:30px; background:#f6f6f6; border:0;}
.join_form .row_subIO > li input[type="checkbox"] {top:6px;}
.join_form .row_subIO > li input[type="text"].mb_mail {width:145px;}
.join_form .row_subIO > li input[type="button"] {float:left; width:110px; height:30px; margin-left:10px; line-height:30px; text-align:center; background:#464646; color:#fff; border:0; letter-spacing:-0.08em;}
.join_form .row_subIO > li p {float:left; margin-left:10px; color:#999; letter-spacing:-0.08em; line-height:30px;}
.join_form .row_subIO > li.inp_form span {margin-right:30px; line-height:30px; text-align:center;   display: inline-block;}
.brd_txt_lst li .con_lst > ul > li.adm_col_rch {width:15%; padding:0 15px;}
.brd_txt_lst li .con_lst > ul > li.adm_col_nameh {width:10%; padding:0 15px;}
.brd_txt_lst li .con_lst > ul > li.adm_col_typeh {width:10%; padding:0 15px;}
.brd_txt_lst li .con_lst > ul > li.adm_col_dateh {width:20%; padding:0 15px;}
.brd_txt_lst li .con_lst > ul > li.adm_col_exh{width:30%; padding:0 15px;}

.brd_txt_lst li .con_lst > ul > li.adm_num {width:10%; padding:0 10px;}
.brd_txt_lst li .con_lst > ul > li.adm_pic {width:10%;}
.brd_txt_lst li .con_lst > ul > li.adm_subs {width:35%; padding:0 10px;}
.brd_txt_lst li .con_lst > ul > li.adm_name {width:15%; padding:0 10px;}
.brd_txt_lst li .con_lst > ul > li.adm_ten {width:15%; padding:0 10px;}
.brd_txt_lst li .con_lst > ul > li.adm_subs2 {width:35%; padding:0 10px;}
/* admin book */
/* admin hbook */
.join_form .row_sub > li.adm_inp_formh input[type="text"] {width:250px; text-indent:10px;}
.join_form .row_sub > li.adm_inp_formh textarea { float: left;width: 100%; resize: none; background: #f6f6f6; border: 0; font-family: "Noto_M";}
/* admin hbook */

/* admin DLos */
.view_lst .con_lst ul.no_scroll .col_dlos_id {width:20%; padding:0 10px;}
.view_lst .con_lst ul.no_scroll .col_dlos {width:60%; padding:0 15px;}
.write_form .rowadmin {overflow:hidden; border-top:2px solid #464646; border-bottom:2px solid #464646;}
/* admin DLos */

/* admin rbook */
.view_lst .con_lst > ul.no_scroll .col_con_rid {width:20%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .col_con_rnum {width:20%; padding:0 10px;}
/* admin rbook */

/* admin Nmember */
.brd_txt_lst li .con_lst > ul > li.col_typen {width:15%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_daten{width:20%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_calln{width:20%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_dateb{width:20%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_callb{width:20%; padding:0 20px;}
.brd_txt_lst li .con_lst > ul > li.col_typeb {width:15%; padding:0 20px;}
.join_form .row_sub > li.title_adm {width:150px; height:50px; padding:15px 20px; background:#f6f6f6; font-family:"Noto_M"; letter-spacing:-0.08em;}
/* admin Nmember */

/* admin book info */
.join_form .row_sub > li.title_bif {width:150px; height:50px; padding:15px 20px; background:#f6f6f6; font-family:"Noto_M"; letter-spacing:-0.08em;}
/* admin book info */
		/* admin css*/

/* member css*/
.view_lst .con_lst > ul.no_scroll .col_mem_r {width:25%; padding:0 5px;}
.view_lst .con_lst > ul.no_scroll .col_mem_b {width:33%; padding:0 10px;}

/* member css*/

/* busket css */
.brd_txt_lst li > .con_lst > ul > li.buk_c {width:5%; padding:13px 10px 10px 10px;}
.brd_txt_lst li > .con_lst > ul > li.buk_p {width:20%; padding:0 10px;}
.brd_txt_lst li > .con_lst > ul > li.buk_t {width:30%; padding:0 10px;}
.brd_txt_lst li > .con_lst > ul > li.buk_n {width:15%; padding:0 10px;}


/* busket css */

/*myUseBookList*/
.view_lst .con_lst > ul.no_scroll .my_p {width:25%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .my_pp {width:25%; padding:0 10px; height: 70px; line-height: 70px;}
.view_lst .con_lst > ul.no_scroll .my_ppp {width:25%; padding:0 10px;  height: 70px; line-height: 70px;}
/*myUseBookList*/



/* 각자 작업한 css  ----------------------------------------------------------  */

/* start 박용철 작업(Q&A) */
.join_form .row_sub > li input[type="text"].mb_mail {width:100px;}
.join_form .row_sub > li input[type="text"].mb_mail{margin-right:px}
.join_form .row_sub > li input[type="text"].mb_mail2{width:100px;}
.join_form .row_sub > li span#address_shift2 {float:left; background:#f6f6f6; height:30px; line-height:27px}
.join_form .row_sub > li input[type="text"].inp_addr {width:300px; margin-bottom:5px;}
.join_form .row_sub > li input[type="text"].inp_form {width:60px; margin-right:6px; margin-left:6px; text-indent:10px}
.join_form .row_sub > li input[type="text"].inp_form2 {width:60px; text-indent:10px}
.join_form .row_sub > li select.phone_frist {float:left}
/* end 박용철 작업(Q&A) */



/* start 황해남 작업(Facility) */
.seat{ display:inline-block; width: 100%; height:70px; margin:5px;}
.seat > a > div{ background-color: #464646; display: table-cell; width: 70px; height:70px; cursor:pointer; text-align:center; vertical-align:middle; border-radius:10px;}
.seat > a > div.ucheck0 { background-color:#21C252;}
.seat > a > div.ucheck1 { background-color:#DE6363;}
.seat > a > div.ucheck2 { background-color:#37373B;}
.seat > a > div> span {color:#fff; font-size:1.4em;}
#facil_dialog { margin:0; padding:0; overflow: hidden;}
#facil_dialog > iframe {    border:none;    width:100%;    height:100%;}	
/* end 황해남 작업(Facility) */



/* START 김영지 작업 Admin */


.btn_btm_center .adm_btn__left { text-align: left;}
/* .adminfo_join_form {padding: 5px;} */
.brd_txt_lst li > .con_lst > ul > li.adm_col_rrc {width:3%; padding:0 20px;}
.brd_txt_lst li > .con_lst > ul > li.adm_col_rc {width:6%; padding:0 20px;}
.brd_txt_lst li > .con_lst > ul > li.adm_col_type {width:10%; padding:0 20px;}
.brd_txt_lst li > .con_lst > ul > li.adm_col_date {width:15%; padding:0 20px;}
.brd_txt_lst li > .con_lst > ul > li.adm_col_sub {width:20%; padding:0 20px;}
.brd_txt_lst li > .con_lst > ul > li.adm_col_subs {width:24%; padding:0 20px;}
.brd_txt_lst li > .con_lst > ul > li.adm_col_ex {width:40%; padding:0 20px;}
 #adm_book_high{height: 80px; line-height: 80px;}
 #adm_book_high1{height: 80px; line-height: 80px;}
.adm { margin-top: 20px;}
.adms { width: 99%; margin: 5px auto; position: relative;}
.adms p {display: inline-block;}
/* 상세검색 하는 부분  */
.btn_btm_center ul li.adm_btn_cancle {padding-right:0}
#adm_brd_txt_lst li > .con_lst > ul > li {display:block; height:70px; line-height:70px; text-align:center;}
#adm_brd_txt_lst { border: 2px solid black; width:100%;}
#adm_field { border: 2px solid black;	padding: 20px; width: 99%; margin: 2px auto; position: relative;}
#adm_field > legend { font-size: 18px;}
#admin_select_box {border: 1px solid #FAE0D4; margin: 7px; padding : 2px 2px 4px 2px; height : 40px; width:500px;}
#admin_select_box #admin_select1 {width:70px; border : none; float : left; height:34px; line-height: 34px; margin : 0 5px; }
#admin_select_box #admin_select2 { width: 70px; float:right; border : none; height:32px; line-height: 32px; margin:0 5px; padding: 0 4px;}
#admin_select_box2 { border: 1px solid #FAE0D4; margin: 0 7px 7px 7px; padding : 1px 2px 2px 2px; height : 40px; width: 150px; position: relative;}
#admin_select_box2 p {height:38px; line-height: 38px; width: 30px; float: left; position: absolute; left:2px; }
#admin_select_box2 select { border: none; height:35px; line-height: 35px; margin : 0; float: left; position: absolute; right: 2px;}
input.adm_inp_search {float:left; width:50%; height:34px; border:0; line-height: 34px;}
input.adm_btn_search {width: 9%; float:left; margin-right:5px; width:35px; height:34px; border:0; line-height: 34px; text-indent:-999em; background:#fff url("../resource/img/btn_search.png"); background-repeat:no-repeat; background-position:center;}
#adm_select_box3 { border:none; display:inline-block; position: absolute; top:60px; right:15px;}
/* end of 상세검색 하는 부분 */
.adm_btn_type4 {display:inline; width:130px; height:35px; line-height:35px; color:#fff !important; border:0; background:#464646; color:#fff; cursor:pointer; position: relative; top: 3px; left: 190px; text-align: center;}
.adm_btn_type5 {display:inline; width:130px; height:35px; line-height:35px; color:#fff !important; border:0; background:#464646; color:#fff; cursor:pointer; position: relative; top: 3px; left: 200px; text-align: center;}
.join_form .row_sub > li.adm_inp_form input[type="text"] {width:290px; margin-right:6px; margin-left:6px; text-indent:10px;}
.join_form .row_sub > li textarea { float: left;width: 100%; resize: none; background: #f6f6f6; border: 0; font-family: "Noto_M";}
.adm_h_1{ font-size: 17px;}
<<<<<<< HEAD
.bbutton, .rbutton, .rebutton, .bbutton2 {border: none; background-color: #FAE0D4; margin-top: 30px;}
=======
.bbutton, .rbutton, .rebutton, .bbutton2, .bbutton_info, .info_bbutton2, #bbutton, #rbutton, #bbutton2, .mod_btn {border: none; background-color: #FAE0D4; margin-top: 30px;}
#bbutton, #rbutton, #bbutton2, #borrowBook{border: none; background-color: #FAE0D4; margin:2px auto; color: black; }
>>>>>>> 0ea829aed544790cf1258fc9b9702e5ed3fdf243
.bncheck {line-height: 70%; height: 90%;}
#book_cont_btn, #book_pic_btn { float:right; margin-left: 5px ; margin-top: 0; display: block; width: 50px; height: 30px; color: #fff !important; border: 0; text-align: center; background: #464646; color: #fff; cursor: pointer;}


/* START 김영지 책 갤러리 형식으로 보기 css */
.book_lst {overflow: hidden; width: 90%; margin: 0 auto; position: relative; margin-top:10px; }
.book_lst li { float: left; width: 24%; height: 280px; margin: 10px 3px 10px 3px; padding-bottom: 26px; position: relative;}
.book_lst li a {color: #666; text-decoration: none; }
.book_lst_img { width:99%; height: 270px;}
#bk_li_subs { display: block; width: 99%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin-top: 2px;}
/* .book_info_layer{ display: none; background: url(../book/bg_book_hover.png) no-repeat; } */
.book_info_layer{ display: none;	position:absolute; top:0; left:0; width:97%; height:270px; background: url(../book/bg_book_hover.png) repeat;}
.book_lst .book_info_layer > dt {height: 47px;	padding: 15px; width:99%; background-color: #222;  color: #fff; }
.book_lst .book_info_layer > dt > span {overflow: hidden; display: inline-block;  height: 56px; line-height: 14px; word-break: break-all; text-overflow: ellipsis;  white-space: nowrap; width: 100%;}
.book_lst li:HOVER .book_info_layer { display: block; z-index: 1; width:100%; }
.book_lst .book_info_layer dd dl { padding: 15px 15px 0 15px; width:100%; box-sizing : border-box; }
.book_lst .book_info_layer dd dt { float: left; width: 47px; height: auto;  margin-right: 10px;  line-height: normal;  font-size: 11px  color: #a5a5a5; }
.book_lst .book_info_layer dd dd {overflow: hidden;  margin-bottom: 9px;  font-size: 11px;  text-overflow: ellipsis;  white-space: nowrap;  color: #fff; }

/* END 김영지 책 갤러리 형식으로 보기 css */


/* start 윤창훈 작업(Notice List) */
.view_lst .con_lst .con_detail .file .No {display:table-cell; vertical-align:middle; width:10%;}
/* end 윤창훈 작업(Notice List) */

/* start 윤창훈 작업(Curation List) */
ul.cu_brd_txt_lst {overflow:hidden; position:relative; margin-bottom:30px; border-top:2px solid #464646; border-bottom:1px solid #464646;}
ul.cu_brd_txt_lst > li.view_lst {float: left; width:100%;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst {display:block; height:238px; text-align:left; padding: 20px 10px; border-bottom: 1px solid #ebebeb;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst > div.cu_thm {float:left; width:40%; height:100%; padding-right:20px;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst > div.cu_thm img {width:100%; height:100%;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst > div.cu_txt {float:left; width:60%; height:100%;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst > div.cu_txt h4 {margin:10px 0; font-size:1.43em; font-family:"Noto_M"; line-height:20px;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst > div.cu_txt p {overflow:hidden; height:126px;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst > div.cu_txt .cu_btm_txt {margin-top:10px;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst > div.cu_txt .cu_btm_txt span.tit_date {display:none;}
.view_lst > .con_lst_cu > ul.no_scroll > li.cu_lst > div.cu_txt .cu_btm_txt span.date {margin-right:30px;}
/* end 윤창훈 작업(Curation List) */


/* Notice start*/
.brd_txt_lst li > .con_lst > ul > li.col_dateNo {width:20%; padding:0 20px;}
/* Notice End*/


/* start 윤창훈 작업(Q&A) */
.view_lst .con_lst > ul.no_scroll .col_num {width:10%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .col_id {width:15%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .col_title {width:40%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .col_date {width:15%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .col_rc {width:10%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .col_check {width:10%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .col_con_title {width:100%; padding:0 15px;}
.view_lst .con_lst > ul.no_scroll .col_con_id {width:20%; padding:0 10px;}
.view_lst .con_lst > ul.no_scroll .col_con_avg {width:20%; padding:0 15px; float: right;}
.view_lst .con_lst > ul.no_scroll .col_con_date {width:20%; padding:0 30px 0 15px; margin-right:10px; float:right;}
.view_lst .con_lst > ul.no_scroll .col_con_email {width:35%; padding:0 5px; float: right;}
.view_lst .con_lst .con_detail_block {display:block; width:100%; height:100%; padding:20px; background:#f5f5f5;}
.view_lst .con_lst > ul.no_scroll .col_con_id1 {width:20%; padding:0 10px;}
p.sub_txt {margin: 15px 0 30px 0; }
/* end 윤창훈 작업(Q&A) */

/* start 김예린 작업(FAQ) */
.brd_txt_lst li > .con_lst > ul > li.col_rcFAQ {width:10%; padding:0 20px;}
/* end 김예린 작업(FAQ) */

/* start 김예린 작업(Curation Content) */
.view_lst .con_lst > ul.no_scroll .cu_col_title {display:block; width:38%; padding:0px 15px; float: left;}
.view_lst .con_lst > ul.no_scroll .cu_col_date {display:block; width:15%; padding:0 15px; float: right; margin-right: 20px;}
.view_lst .con_lst > ul.no_scroll .cu_col_rc {display:block; width:10%; padding:0 15px; float: right; margin-right: 20px;}
.view_lst > .con_lst > ul.no_scroll > div.cu_col_thm {float:left; width:40%; height:100%; padding-right:20px; padding-left: 20px;}
.view_lst > .con_lst > ul.no_scroll > div.cu_col_thm img {width:100%; height:100%;}
.view_lst .con_lst > ul.no_scroll .cu_col_content {display:block; width:38%; padding:0 15px;}
.view_lst .con_lst > ul.no_scroll .cu_col_file {display:block; width:38%; padding:0 15px;}
/* end 김예린 작업(Curation Content) */

/* start 윤창훈 작업(page) */
strong#currentPage {font-weight: bold;}
.prev {background: url("../resource/img/pagenate_btn_prev.png") no-repeat center center; width: 20px; height: 20px; line-height: 20px; display: inline-block;}
.next {background: url("../resource/img/pagenate_btn_next.png") no-repeat center center; width: 20px; height: 20px; line-height: 20px; display: inline-block;}
/* start 윤창훈 작업(page) */

/* 각자 작업한 css end  ----------------------------------------------------------  */

#book_div1 {position: relative;width:100%;height:100vh;background-image:url("../img/library.jpeg");background-repeat:no-repeat;background-size:cover;z-index: -1;filter: blur(5px) grayscale(80%); transform: scale(1.1);}
#guide_img {position: relative;width:100%;height:100vh;background-image:url("../resource/subImg/book_img.jpg");background-repeat:no-repeat;background-size:cover;z-index: -1;filter: blur(5px) grayscale(80%); transform: scale(1.1);}
#serveBook_img {position: relative;width:100%;height:100vh;background-image:url("../resource/subImg/serveBook_img.jpg");background-repeat:no-repeat;background-size:cover;z-index: -1;filter: blur(5px) grayscale(80%); transform: scale(1.1);}
#serveFacil_img {position: relative;width:100%;height:100vh;background-image:url("../resource/subImg/serveFacil_img.jpg");background-repeat:no-repeat;background-size:cover;z-index: -1;filter: blur(5px) grayscale(80%); transform: scale(1.1);}
#myUseIndex_img {position: relative;width:100%;height:100vh;background-image:url("../resource/subImg/myUseIndex_img.jpg");background-repeat:no-repeat;background-size:cover;z-index: -1;filter: blur(5px) grayscale(80%); transform: scale(1.1);}






/* 미디어쿼리 작업부분!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


@media(max-width:1025px){
	.book_lst li {     width: 48%;height: 400px; margin: 12px 5px 12px 5px;}
	.book_lst_img { width:99%; height: 390px;}
	.book_info_layer{ height:390px; }
}



@media (max-width:767px){
/*main*/
.main_concur {width: 320px; height: 330px;}
.main_concur ul {padding:10px 20px;}
.main_concur ul li {float:left; height:134px; padding:10px 0;}
.main_concur ul li .main_box_img {width:inherit;}
.main_concur ul li .main_box_img img {width:88px; height:114px;}
.main_concur ul li .main_box_tit {width:160px; padding-left:10px;}
.main_concur ul li .main_box_tit .tit {overflow:hidden; height:26px; line-height:inherit; font-size:1em;}
.main_concur ul li .main_box_tit .disc {overflow:hidden; height:84px; font-size:0.93em;}

.main_connot {width: 320px; height: 330px;}
.main_connot ul li {height:58px;}
.main_connot ul li a {display:block; width:100%; position:relative; line-height:58px;}
.main_connot ul li a p {width:180px; font-size:0.86em;}
.main_connot ul li a span {position:absolute; right:0; top:0; padding-right:20px; font-size:0.86em;}


/*login css */
.login_form{margin: 50px auto 0 auto ; width: 300px;}
.login_form .row_sub > li.title {width:97px; min-width: 97px;}
.login_form .row_sub > li input[type="text"],
.login_form .row_sub > li input[type="password"] {width:180px; }


/* board css*/
	/* text css start*/
	.board .search_bx { top: -25px; margin-right: 20px;}
	.search_bx { right:0; width:60%;}
    .search_bx input.inp_search {width:100%;  paddind:0px; font-size:0.75em;  }
   	.search_bx input.btn_search {position:absolute; right:0;}
   	.board {    width: 100% !important;height: 100%!important; margin-top: 20px; padding: 0 20px;}
	 h3 { top: 98px; margin-bottom: 20px; font-size: 1.5em;}
	 h4 { top: 98px; margin-bottom: 20px; font-size: 1.4em;}
	.brd_txt_lst li > .con_lst > ul > li {font-size: 0.85em; }
	.brd_txt_lst li > .con_lst > ul > li.col_date{padding: 0px 10px 0px 0px;}
	.text_top{margin: 30px 20px 0 20px;  }
	/* text css start*/
		
	/* board qna start*/
	.view_lst .con_lst > ul.no_scroll .col_num {width:15%; padding:0 10px;}
	.view_lst .con_lst > ul.no_scroll .col_id {width:20%; padding:0 10px;}
	.view_lst .con_lst > ul.no_scroll .col_title {width:40%; padding:0 10px;}
	.view_lst .con_lst > ul.no_scroll .col_date {display:none;}
	.view_lst .con_lst > ul.no_scroll .col_rc {display: none;}
	.view_lst .con_lst > ul.no_scroll .col_check {width:25%; padding:0 10px;}
	.view_lst .con_lst > ul.no_scroll .col_con_avg {display: none;}
	.view_lst .con_lst > ul.no_scroll .col_con_id {width:40%;}
	.view_lst .con_lst > ul.no_scroll .col_con_date {width:40%;}
	.view_lst .con_lst > ul.no_scroll .col_con_id1 {width:100%;}
	.view_lst .con_lst > ul.no_scroll .col_con_email {width:100%;  float:left;}
	/* board qna end */
	/* board faq start*/
	.brd_txt_lst li > .con_lst > ul > li.col_rcFAQ {display: none;}
	.brd_txt_lst li > .con_lst > ul > li.col_type {width:30%; padding:0 20px;}
	.brd_txt_lst li > .con_lst > ul > li.col_title {width:60%; padding:0 20px;}
	/* board faq end*/
	/* board No start*/
		.brd_txt_lst li > .con_lst > ul > li.col_typeNo {width:15%; padding:0 20px;}
		.brd_txt_lst li > .con_lst > ul > li.col_titleNo{width:50%; padding:0 20px;}
		.view_lst .con_lst .con_detail .file .No {display:table-cell; vertical-align:middle; width:10%; padding-right: 50px;}
	/* board No end*/
	.write_form .row_suba > li {display:table-cell;vertical-align:middle;padding:10px;width: 100%;}
	.write_form .row_suba {overflow:hidden; width:100%; border-bottom:1px solid #dbdbdb;}
	/* board css end*/
	
	
/* facil css */

	/* admin facil start */
	.write_form .row_subfacil1 > li {display:table-cell;}
	.write_form .row_subfacil1 > li input[type="button"] {margin-left: 0px;]}
	.write_form .row_subfacil1 > li.title {width: 80px ;min-width: 80px; height:30px; padding:5px 10px 5px 15px;}
	.write_form .row_subfacil1 > li input[type="text"] {width:100px; }
	.write_form .row_subfacil2 > li.title {width: 80px; min-width: 80px; height:30px;   padding: 14px 15px;}
	.write_form .row_subfacil2 > li input[type="text"] {width:70px; margin-right: 10px; }
	.facilhide{display: none;}
	.write_form .row_subfacil2 > li {width: 70%; display: inline-table;}
	/* admin facil end */
	/* servefacil start*/
	.seatLayout { margin: 20px; height: 240px; width: 320px;border: 2px solid #666;}
	.seat {display: inline-block; width: 100%; height: 30px; margin: 5px;}
	.seatLayout > ul > li {float: left;width: 30px;}
	.seat > a > div { background-color: #464646; display: table-cell;width: 30px; height: 30px;cursor: pointer;text-align: center;vertical-align: middle; border-radius: 10px;}
	/* servefacil  end*/
	#obj_mname{margin-left: 120px;}
	
	
	
/* member css */
	/* member join start */
	.join_form .row_sub > li input[type="button"] { margin-left:0px; }
	.join_form .row_sub > li.title {width: 56px;  min-width: 60px; height: 15px; padding: 5px; text-align: center;}
	.join_form .row_sub > li textarea { float:left;width: 100%; resize: none; background:#f6f6f6; border:0; font-family: "Noto_M";}
	/* member join end */
	
	/*myUseBookList*/
	.view_lst .con_lst > ul.no_scroll .my_ppp{line-height: 14px;}}
	/*myUseBookList*/
	
/* admin css */
	.join_form .row_subIO > li.title { width: 95px; height: 50px;padding: 5px 10px;background: #f6f6f6; font-family: "Noto_M";letter-spacing: -0.08em;text-align: center;}
	.IOcss {width: 200px}
	.brd_txt_lst li > .con_lst > ul > li.adm_col_rch {width:25%; padding:0 10px;}
	.brd_txt_lst li > .con_lst > ul > li.adm_col_nameh {width:20%; padding:0 10px;}
	.brd_txt_lst li > .con_lst > ul > li.adm_col_typeh {display: none;}
	.brd_txt_lst li > .con_lst > ul > li.adm_col_dateh {width:30%; padding:0 10px;}
	.brd_txt_lst li > .con_lst > ul > li.adm_col_exh {display: none;}
	.join_form .row_sub > li.adm_inp_formh input[type="text"] {width:220px;  text-indent:10px;}
	
	/* admin rbook */
	.view_lst .con_lst > ul.no_scroll .col_con_rid {width:27%; padding:0 5px;}
	.view_lst .con_lst > ul.no_scroll .col_con_rnum {width:17%; padding:0 5px;}
	/* admin rbook */
	
	/* admin Nmember */
	#ajax_container .con_lst > ul > li.col_typen {width:25%; padding:0 20px;}
	#ajax_container .con_lst > ul > li.col_daten{width:25%; padding:0 10px;}
	#ajax_container .con_lst > ul > li.col_calln{display: none;}
	#ajax_container .con_lst > ul > li.col_callb{display: none;}
	#ajax_container .con_lst > ul > li.col_typeb {width:20%; padding:0 10px;}
	#ajax_container .con_lst > ul > li.col_dateb{width:20%; padding:0 10px;}
	.brd_txt_lst li > .con_lst > ul > li.col_typen {width:25%; padding:0 20px;}
	.brd_txt_lst li > .con_lst > ul > li.col_daten{width:25%; padding:0 10px;}
    .brd_txt_lst li > .con_lst > ul > li.col_calln{display: none;}
	.brd_txt_lst li > .con_lst > ul > li.col_callb{display: none;}
	.brd_txt_lst li > .con_lst > ul > li.col_typeb {width:20%; padding:0 10px;}
	.brd_txt_lst li > .con_lst > ul > li.col_dateb{width:20%; padding:0 10px;}
	.join_form .row_sub > li.title_adm {width: 73px;  min-width: 73px; height: 15px; padding: 5px; text-align: center;}
	/* admin Nmember */
	
	/* admin book info */
	.join_form .row_sub > li.title_bif {width: 95px; min-width: 95px; padding: 0 10px; height: 20px;}
	/* admin book info */
	
	/* admin book index */
	.brd_txt_lst li > .con_lst > ul > li.adm_pic {display: none;}
	.brd_txt_lst li > .con_lst > ul > li.adm_ten {width:20%; padding:0 10px;}
	.brd_txt_lst li > .con_lst > ul > li.adm_subs2 {line-height: 25px;}
	#adm_select_box3 {top : 40px; right: 0px;}
	#adm_book_high{ height: 40px; line-height: 50px;}
	.bbutton{margin-top: 15px;}
	
	/* book css */
	  /* book img css */
	.book_lst li {width: 70%;height: 300px; margin: 40px 30px 20px 50px;}
	.book_lst_img { width:99%; height: 290px;}
	.book_info_layer{ height:290px; }
	
	/* book css */
	
	
	/* busket css */
	.brd_txt_lst li > .con_lst > ul > li.buk_p {display: none;}
	.brd_txt_lst li > .con_lst > ul > li.buk_t {width:35%; padding:0 5px;}
	.brd_txt_lst li > .con_lst > ul > li.buk_n {width:19%; padding:0 5px;}
	
	
	
	
	
	
}

@media (max-width:426px){
		#selectEmail {margin-left: 115px;}
		
}





		




/* 영지 미디어 쿼리 css */

@media screen and (min-width:768px) and (max-width : 1024px) {
#for_book_div { display: inline-block; width: 96%; position: absolute; left:2%; top:2px; z-index:1;}
.DIV_CON_LST { width : 100%;}
#book_field { border:none; padding: 20px; width: 96%; margin: 12px auto; color:white; box-sizing : border-box;}
#book_field >h1 {margin:0 10px 15px 10px; text-align: center; font-size: 20px;}
#book_select_box{border:1px solid white; width: 100%; height: 35px; margin-bottom: 3px; display: inline-block;}
#book_select1 {border: none; height:33px; width:18%;}
#book_select2 {border:none; height: 33px;  width:18%;}
input.book_inp_search { height: 33px; line-height: 33px;  width:40%;}
input.book_btn_search {  width:19%; border:0; width: 35px; height:33px; line-height: 33px; text-indent:-999em; background:#fff url("../resource/img/btn_search.png");  background-repeat:no-repeat; background-position:center; }
#book_date_box {  width: 100%; height: 35px; margin-bottom: 3px;}
#book_date_box > p { float: left; height: 33px; line-height: 33px;  width:18%; display: inline-block; border:1px solid white;}
#book_date_box #book_date { height: 33px; line-height: 33px; }
#book_sort_submit { height: 30px; width: 200px; margin: 0 auto; margin-top: 2%; }
.book_btn_type3 {margin-right:5%; float:right; line-height: 33px; height: 33px; display: block; width:2%;}
.book_btn_type4 { height: 35px; line-height: 26px; width: 80px; background:#333; cursor:pointer; color:#fff; text-align: center; border: 0;  }
.book_btn_type5 { height: 35px; line-height: 26px; width: 100px; background:#333; cursor:pointer; color:#fff; text-align: center; border: 0;  }
.book_media_bye { display: none; }
}
@media screen and (max-width: 767px) {
#for_book_div { display: inline-block; width: 96%; position: absolute; left:2%; top:2px; z-index:1;}
.DIV_CON_LST { width : 100%;}
#book_field { border:none; padding: 20px; width: 96%; margin: 12px auto; color:white; box-sizing : border-box;}
#book_field >h1 {margin:0 10px 15px 10px; text-align: center; font-size: 20px;}
#book_select_box{border:1px solid white; width: 100%; height: 35px; margin-bottom: 3px; display: inline-block;}
#book_select1 {border: none; height:33px; width:18%;}
#book_select2 {border:none; height: 33px;  width:18%;}
input.book_inp_search { height: 33px; line-height: 33px;  width:40%;}
input.book_btn_search {  width:19%; border:0; width: 35px; height:33px; line-height: 33px; text-indent:-999em; background:#fff url("../resource/img/btn_search.png");  background-repeat:no-repeat; background-position:center; }
#book_date_box {  width: 100%; height: 35px; margin-bottom: 3px;}
#book_date_box > p { float: left; height: 33px; line-height: 33px;  width:18%; display: inline-block; border:1px solid white;}
#book_date_box #book_date { height: 33px; line-height: 33px; }
#book_sort_submit { height: 30px; width: 200px; margin: 0 auto; margin-top: 2%; }
.book_btn_type3 {margin-right:5%; float:right; line-height: 33px; height: 33px; display: block; width:2%;}
.book_btn_type4 { height: 35px; line-height: 26px; width: 80px; background:#333; cursor:pointer; color:#fff; text-align: center; border: 0;  }
.book_btn_type5 { height: 35px; line-height: 26px; width: 100px; background:#333; cursor:pointer; color:#fff; text-align: center; border: 0;  }
.book_media_bye { display: none; }
}

@media screen and (min-width:1025px){

#for_book_div {width:96%; z-index:1; position: absolute; top:30%; left:2%; }
.DIV_CON_LST { width : 100%;}
#book_field { border:none; padding: 20px; width: 96%; margin: 12px auto; color:white; box-sizing : border-box;}
#book_field >h1 {margin:0 10px 15px 10px; text-align: center; font-size: 20px;}
#book_select_box{border:1px solid white; width: 100%; height: 35px; margin-bottom: 10px; display: inline-block;}
#book_select1 {border: none; height:33px; width:20%;}
#book_select2 {border:none; height: 33px;  width:20%;}
input.book_inp_search { height: 33px; line-height: 33px;  width:40%;}
input.book_btn_search {  width:20%; border:0; width: 35px; height:33px; line-height: 33px; text-indent:-999em; background:#fff url("../resource/img/btn_search.png");  background-repeat:no-repeat; background-position:center; }
#book_date_box {  width: 100%; height: 35px; margin-bottom: 3px;}
#book_date_box > p { float: left; height: 33px; line-height: 33px;  width:18%; display: inline-block; border:1px solid white;}
#book_date_box #book_date { height: 33px; line-height: 33px; }
#book_sort_submit { height: 30px; width: 200px; margin: 0 auto; margin-top: 2%; }
.book_btn_type3 { line-height: 33px; height: 33px; display: none; width:2%;}
.book_btn_type4 { height: 35px; line-height: 26px; width: 80px; background:#333; cursor:pointer; color:#fff; text-align: center; border: 0;  }
.book_btn_type5 { height: 35px; line-height: 26px; width: 100px; background:#333; cursor:pointer; color:#fff; text-align: center; border: 0;  }
.book_media_bye { display: block; }
}

/*통합검색 페이지 제일 작게 했을 떄 검색창이 망가져서 미디어쿼리 사용함*/
@media (max-width:767px){
#admin_select_box {border: 1px solid #FAE0D4; margin: 7px; padding : 2px 2px 4px 2px; height : 40px; width:85%;}
#admin_select_box #admin_select1 {width:20%; border : none; float : left; height:34px; line-height: 34px; margin : 0 4px; }
#admin_select_box #admin_select2 { width: 20%; float:right; border : none; height:32px; line-height: 32px; margin:0 4px; padding: 0 4px;}
input.adm_inp_search {float:left; width:40%; height:34px; border:0; line-height: 34px;}
input.adm_btn_search {width: 6%; float:left; margin-right:5px; height:34px; border:0; line-height: 34px; text-indent:-999em; background:#fff url("../resource/img/btn_search.png"); background-repeat:no-repeat; background-position:center;}

#admin_select_box2 { border: 1px solid #FAE0D4; margin: 0 7px 7px 7px; padding : 1px 2px 2px 2px; height : 40px; width: 30%; position: relative;}
#admin_select_box2 p {height:38px; line-height: 38px; width: 30%; float: left; position: absolute; left:2px; }
#admin_select_box2 select { border: none; height:35px; line-height: 35px; margin : 0; float: left; position: absolute; right: 2px; width: 50%;}
#admin_sort_submit { margin: 0 0 0 20%; height:40px; width : 70%; position: relative;}
#admin_sort_submit .adm_btn_type4 {width:27%; height:35px; line-height:35px; color:#fff !important; border:0; background:#464646; cursor:pointer; position: absolute; top: 3px; left:17%;  text-align: center;}
#admin_sort_submit .adm_btn_type5 {width:27%; height:35px; line-height:35px; color:#fff !important; border:0; background:#464646; cursor:pointer; position: absolute; top: 3px; left:47%; text-align: center; }
}
/* End 김영지 작업 Admin */

